From ef0bb76cb19c0ce1395552eb600fa40942035eb1 Mon Sep 17 00:00:00 2001
From: ChonDoit <thphantomblog@gmail.com>
Date: Mon, 10 Oct 2022 18:19:25 +0000
Subject: [PATCH] Adress Live Display sepolicy

Still on WIP

---
 sepolicy/LiveDisplay.te     | 17 +++++++++++++++++
 sepolicy/attributes         |  2 ++
 sepolicy/file.te            |  3 +++
 sepolicy/file_contexts      |  5 +++++
 sepolicy/genfs_context      |  9 +++++++++
 sepolicy/hwservice.te       |  3 +++
 sepolicy/hwservice_contexts | 12 ++++++++++++
 sepolicy/init.te            |  3 +++
 sepolicy/platform_app.te    |  2 ++
 sepolicy/service.te         |  4 ++++
 sepolicy/service_contexts   |  4 ++++
 sepolicy/system_app.te      |  2 ++
 sepolicy/system_server.te   |  4 ++++
 13 files changed, 70 insertions(+)
 create mode 100644 sepolicy/LiveDisplay.te
 create mode 100644 sepolicy/attributes
 create mode 100644 sepolicy/genfs_context
 create mode 100644 sepolicy/platform_app.te
 create mode 100644 sepolicy/system_app.te

diff --git a/sepolicy/LiveDisplay.te b/sepolicy/LiveDisplay.te
new file mode 100644
index 0000000..e447da8
--- /dev/null
+++ b/sepolicy/LiveDisplay.te
@@ -0,0 +1,17 @@
+type hal_lineage_livedisplay_default, domain;
+hal_server_domain(hal_lineage_livedisplay_default, hal_lineage_livedisplay)
+
+type hal_lineage_livedisplay_default_exec, exec_type, vendor_file_type, file_type;
+init_daemon_domain(hal_lineage_livedisplay_default)
+
+# Allow LiveDisplay HAL's default implementation to use vendor-binder service
+vndbinder_use(hal_lineage_livedisplay_default)
+
+# HwBinder IPC from client to server
+binder_call(hal_lineage_livedisplay_client, hal_lineage_livedisplay_server)
+
+add_hwservice(hal_lineage_livedisplay_server, hal_lineage_livedisplay_hwservice)
+allow hal_lineage_livedisplay_client hal_lineage_livedisplay_hwservice:hwservice_manager find;
+
+# Grant access over LiveDisplay tuneables
+allow hal_lineage_livedisplay_server sysfs_livedisplay_tuneable:file rw_file_perms;
diff --git a/sepolicy/attributes b/sepolicy/attributes
new file mode 100644
index 0000000..b593afa
--- /dev/null
+++ b/sepolicy/attributes
@@ -0,0 +1,2 @@
+# LiveDisplay
+hal_attribute(lineage_livedisplay)
diff --git a/sepolicy/file.te b/sepolicy/file.te
index 48c5be9..33ac0be 100644
--- a/sepolicy/file.te
+++ b/sepolicy/file.te
@@ -1,2 +1,5 @@
 # Pocket Judge
 type pocket_judge_sysfs, fs_type, sysfs_type;
+
+# LiveDisplay
+type sysfs_livedisplay_tuneable, fs_type, sysfs_type;
diff --git a/sepolicy/file_contexts b/sepolicy/file_contexts
index 9d5a4b9..b7c4f42 100644
--- a/sepolicy/file_contexts
+++ b/sepolicy/file_contexts
@@ -25,3 +25,8 @@
 
 # Pocket Judge
 /sys/kernel/pocket_judge(/.*)?	                u:object_r:pocket_judge_sysfs:s0
+
+# Live Display
+/(vendor|system/vendor)/bin/hw/vendor\.lineage\.livedisplay@2\.0-service-legacymm u:object_r:hal_lineage_livedisplay_default_exec:s0
+/(vendor|system/vendor)/bin/hw/vendor\.lineage\.livedisplay@2\.0-service-sdm u:object_r:hal_lineage_livedisplay_default_exec:s0
+/(vendor|system/vendor)/bin/hw/vendor\.lineage\.livedisplay@2\.0-service-sysfs u:object_r:hal_lineage_livedisplay_default_exec:s0
diff --git a/sepolicy/genfs_context b/sepolicy/genfs_context
new file mode 100644
index 0000000..21abdaf
--- /dev/null
+++ b/sepolicy/genfs_context
@@ -0,0 +1,9 @@
+# LiveDisplay
+genfscon sysfs /devices/virtual/graphics/fb0/acl u:object_r:sysfs_livedisplay_tuneable:s0
+genfscon sysfs /devices/virtual/graphics/fb0/aco u:object_r:sysfs_livedisplay_tuneable:s0
+genfscon sysfs /devices/virtual/graphics/fb0/cabc u:object_r:sysfs_livedisplay_tuneable:s0
+genfscon sysfs /devices/virtual/graphics/fb0/color_enhance u:object_r:sysfs_livedisplay_tuneable:s0
+genfscon sysfs /devices/virtual/graphics/fb0/hbm u:object_r:sysfs_livedisplay_tuneable:s0
+genfscon sysfs /devices/virtual/graphics/fb0/rgb u:object_r:sysfs_livedisplay_tuneable:s0
+genfscon sysfs /devices/virtual/graphics/fb0/sre u:object_r:sysfs_livedisplay_tuneable:s0
+genfscon sysfs /devices/virtual/graphics/fb0/reading_mode u:object_r:sysfs_livedisplay_tuneable:s0
diff --git a/sepolicy/hwservice.te b/sepolicy/hwservice.te
index 2ac49e3..8cf2938 100644
--- a/sepolicy/hwservice.te
+++ b/sepolicy/hwservice.te
@@ -1,2 +1,5 @@
 # Turbo Adapter
 type hal_turbo_adapter_hwservice, hwservice_manager_type;
+
+# LiveDisplay
+type hal_lineage_livedisplay_hwservice, hwservice_manager_type;
diff --git a/sepolicy/hwservice_contexts b/sepolicy/hwservice_contexts
index 20a0655..132f198 100644
--- a/sepolicy/hwservice_contexts
+++ b/sepolicy/hwservice_contexts
@@ -1 +1,13 @@
+# Turbo Adapter
 vendor.google.google_battery::IGoogleBattery                            u:object_r:hal_turbo_adapter_hwservice:s0
+
+# LiveDisplay
+vendor.lineage.livedisplay::IAdaptiveBacklight       u:object_r:hal_lineage_livedisplay_hwservice:s0
+vendor.lineage.livedisplay::IAutoContrast            u:object_r:hal_lineage_livedisplay_hwservice:s0
+vendor.lineage.livedisplay::IColorBalance            u:object_r:hal_lineage_livedisplay_hwservice:s0
+vendor.lineage.livedisplay::IColorEnhancement        u:object_r:hal_lineage_livedisplay_hwservice:s0
+vendor.lineage.livedisplay::IDisplayColorCalibration u:object_r:hal_lineage_livedisplay_hwservice:s0
+vendor.lineage.livedisplay::IDisplayModes            u:object_r:hal_lineage_livedisplay_hwservice:s0
+vendor.lineage.livedisplay::IPictureAdjustment       u:object_r:hal_lineage_livedisplay_hwservice:s0
+vendor.lineage.livedisplay::IReadingEnhancement      u:object_r:hal_lineage_livedisplay_hwservice:s0
+vendor.lineage.livedisplay::ISunlightEnhancement     u:object_r:hal_lineage_livedisplay_hwservice:s0
diff --git a/sepolicy/init.te b/sepolicy/init.te
index 42f5bf5..230422f 100644
--- a/sepolicy/init.te
+++ b/sepolicy/init.te
@@ -11,3 +11,6 @@ allow init system_file:lnk_file create_file_perms;
 
 #fix adb in some cases
 allow init adbd_exec:lnk_file read;
+
+# LiveDisplay
+allow init sysfs_livedisplay_tuneable:file { setattr w_file_perms };
diff --git a/sepolicy/platform_app.te b/sepolicy/platform_app.te
new file mode 100644
index 0000000..cf5f862
--- /dev/null
+++ b/sepolicy/platform_app.te
@@ -0,0 +1,2 @@
+# Allow LiveDisplay HAL service to be found
+hal_client_domain(platform_app, hal_lineage_livedisplay)
diff --git a/sepolicy/service.te b/sepolicy/service.te
index 8da883a..87f478c 100644
--- a/sepolicy/service.te
+++ b/sepolicy/service.te
@@ -3,3 +3,7 @@ type app_lock_service, system_api_service, system_server_service, service_manage
 
 # Poxket Judge
 type pocket_service, system_api_service, system_server_service, service_manager_type;
+
+# LiveDisplay
+type lineage_hardware_service, system_api_service, system_server_service, service_manager_type;
+type lineage_livedisplay_service, system_api_service, system_server_service, service_manager_type;
diff --git a/sepolicy/service_contexts b/sepolicy/service_contexts
index 38da2bc..b294397 100644
--- a/sepolicy/service_contexts
+++ b/sepolicy/service_contexts
@@ -17,3 +17,7 @@ app_lock                                  u:object_r:app_lock_service:s0
 
 # Pocket Judge
 pocket                                    u:object_r:pocket_service:s0
+
+# LiveDisplay
+lineagehardware                           u:object_r:lineage_hardware_service:s0
+lineagelivedisplay                        u:object_r:lineage_livedisplay_service:s0
diff --git a/sepolicy/system_app.te b/sepolicy/system_app.te
new file mode 100644
index 0000000..092a9fb
--- /dev/null
+++ b/sepolicy/system_app.te
@@ -0,0 +1,2 @@
+# LiveDisplay
+hal_client_domain(system_app, hal_lineage_livedisplay)
diff --git a/sepolicy/system_server.te b/sepolicy/system_server.te
index 2f9c18e..eb56e1d 100644
--- a/sepolicy/system_server.te
+++ b/sepolicy/system_server.te
@@ -5,3 +5,7 @@ add_service(system_server, app_lock_service);
 allow system_server pocket_judge_sysfs:dir search;
 allow system_server pocket_judge_sysfs:file rw_file_perms;
 allow system_server pocket_service:service_manager { add find };
+
+# Allow LineageHW (running as system server) to access LiveDisplay tuneables
+allow system_server sysfs_livedisplay_tuneable:file rw_file_perms;
+hal_client_domain(system_server, hal_lineage_livedisplay)
-- 
2.34.1

